@charset "utf-8";
/* CSS Document */
body{width:100%;}
.header{width:100%;
height:60px;
background-color:#F8EDED;
margin:10px 0 0 10px;}
.newworld{width:125px;
height:60px;
margin:18px 350px 18px 3%;
padding:3px 3px 3px 3px;
float:left;}
.word{font-size:16px;}
.newworld_content{width:96px;
height:60px;
margin:18px 3px 18px 3px;
padding:3px 3px 3px 3px;
float:left;}
.login{width:96px;
height:60px;
margin:18px 3px 18px 3px;
padding:3px 3px 3px 3px;
float:right;}
.time_of_new_life_interface{
background-image:url(task5.jpg);
background-repeat:no-repeat;
background-size:cover;
width:100%;
height:692px;
margin-top:3px;
margin-left:3px;
margin-right:3px;}
.time_of_new_life{width:435px;
height:auto;
margin-left:125px;
margin-top:100px;
overflow:hidden;
float:left;
font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.time_of_new_life_word{font-size:50px;
font-weight:900;
color:#F5F3F3;}
.time_of_new_life_word1{font-size:20px;
font-weight:bold;
color:#F5F3F3;}
.time_of_new_life_word_button{background-color:red;
width:330px;
height:65px;
color:#F5F3F3;
font-size:30px;
font-weight:600;
outline:none;
margin-top:50px;}
.way{width:100%;
height:200px;
margin:10px 0 0 10px;}
.love_your_life{width:173px;
margin-left:50px;
margin-top:50px;
margin-right:75px;
float:left;
text-align:center;}
.protagonist{width:183px;
margin-left:50px;
margin-top:50px;
margin-right:75px;
float:left;
text-align:center;}
.fashion_theory{width:183px;
margin-left:50px;
margin-top:50px;
margin-right:75px;
float:left;
text-align:center;}
.new_world_view{width:183px;
margin-top:50px;
margin-right:50px;
float:right;
text-align:center;}
.about_the_new_world{width:100%;
height:200px;
}
.about_new_world{margin-top:100px;
margin-left:215px;
margin-right:220px;
width:835px;
text-align:center;}
.about_new_world_word{font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
font-size:50px;
font-weight:800;
color:#827C7C;}
.find_active_message{width:100%;
height:340px;
background-image:url(map.jpg);
background-repeat:no-repeat;
background-size:cover;
margin-top:80px;
margin-left:3px;
margin-right:3px;
text-align:center;
overflow:hidden;}
.find_active_message_word_1,.find_active_message_word_2{color:#EC0F13;
font-weight:bold;}
.find_active_message_word{margin-top:35px;
margin-bottom:10px;}
.find_active_message_word_1{font-size:16px;}
.find_active_message_word_2{margin-top:20px;
margin-bottom:52px;
font-size:12px;}
.find_active_message_select{margin-top:45px;
width:241px;
height:42px;
color:#84191B;
background-color:#2F0303;}
.active{width:100%;
height:410px;
margin-top:100px;
margin-left:3px;
margin-right:3px;}
.beijing_active{width:223px;
height:410px;
border:1px solid #B9B7B7;
text-align:center;
margin-left:130px;
float:left;}
.shanghai_active{width:223px;
height:410px;
border:1px solid #B9B7B7;
text-align:center;
margin-left:40px;
float:left;
vertical-align:text-top;}
.shenzhen_active{width:223px;
height:410px;
border:1px solid #B9B7B7;
text-align:center;
margin-left:40px;
float:left;}
.hongkong_actine{width:223px;
height:410px;
border:1px solid #B9B7B7;
text-align:center;
margin-right:100px;
float:right;}
.active_word{font-size:18px;
font-weight:bold;}
.active_word1{font-size:10px;
color:#9C9797;}
.new_word{width:100%;
height:1100px;
margin-left:3px;
margin-right:3px;}
.new_word_time{background-image:url(new%20world.jpg);
background-repeat:no-repeat;
background-size:cover;
text-align:center;
width:855px;
height:570px;
margin-top:20px;
float:left;
overflow:hidden;}
.new_word_time_word1{color:#F5EDED;
font-weight:bold;
font-size:45px;
font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
margin-top:135px;
}
.new_word_time_word2{color:#F4F0F0;
font-size:60px;
font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
font-weight:bold;
margin-top:0px;}
.new_word_time_word3{font-size:14px;
color:#F7F3F3;
font-weight:bold;}
.new_word_time_word4{font-size:14px;
color:#F7F3F3;
font-weight:bold;}
.new_word_introduction{width:400px;
height:570px;
background-color:#EDE7E7;
text-align:center;
float:right;
overflow:hidden;
margin-top:20px;
margin-left:0px;}
.new_word_introduction_word1{
font-size:20px;
margin-top:160px;}
.new_word_introduction_word2{font-size:14px;
color:#8B7C7C;}
.new_word_introduction_button{width:106px;
height:40px;}
.new_age{width:33%;
height:540px;
background-color:#822F30;
text-align:center;
float:left;
overflow:hidden;}
.new_age_word{font-size:24px;
color:#EDE6E6;
font-weight:bold;
margin-top:168px;}
.new_age_word1{font-size:24px;
color:#EDE6E6;
font-weight:bold;}
.new_age_button{width:180px;
height:40px;
background-color:#A2282A;
color:#EDE6E6;}
.new_age1{width:33%;
height:540px;
background-color:#F9F7F7;
text-align:center;
float:left;
overflow:hidden;}
.new_age_word_1{font-size:24px;
font-weight:bold;
margin-top:168px;}
.new_age_word1_1{font-size:24px;
font-weight:bold;}
.new_age_button_1{width:180px;
height:40px;
color:#F01C20;}
.new_age2{width:33%;
height:540px;
background-image:url(ditie.jpg);
background-repeat:no-repeat;
background-size:cover;
text-align:center;
float:right;
overflow:hidden;}
.volunteer{width:100%;
height:100px;
text-align:center;
margin-top:120px;
margin-left:3px;
margin-right:3px;}
.volunteer_word{font-size:24px;
font-weight:bold;}
.volunteer_word1{font-size:12px;
color:#AC9D9D;}
.register{width:100%;
height:295px;
margin-top:100px;}
.new_volunter_protocol{width:300px;
height:295px;
margin-left:135px;
float:left;}
.volunter_word{font-size:24px;}
.volunter_word1{color:#AC9F9F;
font-size:14px;}
.input_message{width:620px;
height:295px;
margin-right:80px;
overflow:hidden;
float:right;}
.input_name{color:#127092;
width:300px;
height:40px;
float:left;}
.type{width:290px;
height:40px;}
.input_age{color:#127092;
width:300px;
height:40px;
float:right;}
.type1{width:290px;
height:40px;}
.input_number{color:#127092;
width:300px;
height:40px;
margin-top:30px;
float:left;}
.type2{width:290px;
height:40px;}
.input_adress{color:#127092;
width:300px;
height:40px;
margin-top:30px;
float:right;}
.type3{width:290px;
height:40px;}
.input_dream{width:300px;
height:auto;
color:#6AA1A2;
margin-top:145px;}
.type5{width:600px;
height:40px;
margin-left:10px;}
.contact{width:100%;
height:360px;
background-color:#312D2D;
overflow:hidden;
text-align:center;}
.contact_us{color:#F3ECED;
font-size:24px;
margin-top:85px;
font-weight:bold;}
.contact_us1{color:#F3EFEF;
font-size:14px;}
.contact_button{width:450px;
height:40px;}
.contact_button1{height:40px;
width:85px;}
.copyright{width:100%;
height:60px;
background-color:black;}
.copy{color:#F1EBEB;
float:left;}
.backtotop{color:#F0E6E6;
float:right;}


